html {
    background: url(https://media.istockphoto.com/photos/cinema-movie-theatre-with-red-seats-rows-and-a-black-background-picture-id1269677658?k=20&m=1269677658&s=612x612&w=0&h=e4SrlDftj-U-J9f4uzfHobwXDRbIpXpwaf7j8fD7bvk=) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header {
    text-align: center;
    border: dashed rgb(20, 20, 20);
    font-size: 45px;
    padding-bottom: 5%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(120, 0, 0);
}

.control-panel {
    background-color: maroon;
    text-align: justify;
    display: block;
    padding-left: 0%;
    padding-top: 10px;
    text-align: center;
}

.genre-control,
.release-control {
    width: 100%;
}

.search-bar {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    font-size: 17px;
    background-color: white;
    width: 100%;

}

.search-container {
    width: 100%;
}

.drop-down {
    position: absolute;
    top: 260px;
    width: 100%;
}

.drop-down-item {
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    width: 100%;
    background-color: white;
}

.drop-down-item:hover {
    background-color: azure;
    cursor: grab;
}

.drop-down-item p {
    padding-left: 30px;
    width: 40%;
}

.drop-down-item img {
    height: 100%;
    padding-right: 50px;
}



.generate-btn-container {
    padding-left: 45%;
    background-color: maroon;
}

article {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding-top: 10%;
}

.tabs-content.carousel .carousel-item {
    height: auto;
}

.card-deck {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: maroon;
}

.card-container {
    width: 40%;
    justify-content: center;
    margin-left: 60px;

}

.card-image {
    width: 100%;
    object-fit: contain;
    padding: 10%;

}

.card-text {
    position: relative;
    color: white;
    bottom: 50px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
}

.recently-viewed {
    background-color: maroon;
    display: flex;
    flex-wrap: wrap;
    width: 100%
}

.rv-header {
    width: 100%;
}

.rv-header h3 {
    font-size: 20px;
    color: white;
    text-align: center;
}

.rv-item {
    width: 15%;
    padding-left: 10px;
}

.rv-item img {
    object-fit: contain;
    width: 100%;
}

.rv-item-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.hide {
    display: none;
}


.title-page-container {
    background-color: maroon;
    color: white;
    display: flex;
    flex-wrap: wrap;
}

.left-panel {
    width: 65%;
    padding: 0 5%;
}

.right-panel {
    width: 35%;
}

.poster-display {
    object-fit: contain;
    width: 100%;
}